<% include partials/header %>

<div class="container">
    <h1>Tyrel Clayton (he/him/his)</h1>
    <p>Tyrel Clayton is a full-stack software developer who prefers dogs over cats, wine over beer, and C over C++.</p>

    <hr>

    <blockquote class="blockquote text-center">
        <p class="mb-0">It is very important to embrace failure and to do a lot of stuff. As much stuff as possible - with as little fear as possible. It's much, much better to wind up with a lot of crap having tried it than to overthink in the beginning and not do it.</p>
        <footer class="blockquote-footer">Stefan Sagmeister</footer>
    </blockquote>
    
    <hr>

</div>

<% include partials/footer %>