<% include partials/header %>

<div class="container">
    <h1>Tyrel Clayton (he/him/his)</h1>
    <p>Tyrel Clayton is a full-stack software developer who prefers dogs over cats, wine over beer, and C over C++.</p>
</div>

<% include partials/footer %>