<% include partials/header %>

<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="container text-center justify-content-center ">
            <h1><i class="fas fa-laptop-code"></i> This site is currently under construction. <i class="fas fa-tools"></i></h1>
            <h3>Please check back soon for updates!</h3>
        </div>
    </div>
</div>

<% include partials/footer %>