<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="container col-md-5 order-md-last">
                <img class="img-fluid rounded-circle" src="headshot.jpeg" alt="Landing page photo">
            </div>
            <div class="container col-md-7 my-auto order-md-first">
                <h1 class="display-4">Developer.</h1>
                <h1 class="display-4">Builder.</h1>
                <h1 class="display-4">Problem Solver.</h1>
                <a href="/about" class="btn btn-lg btn-info col-md-5">About Me</a>
                <a href="/projects" class="btn btn-lg btn-info col-md-5">My Projects</a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>