:root {
    /*Custom Palette*/
    /*Palette URL: http://paletton.com/#uid=43j0u0k++oIZBNs+Wu-+Yjh+LcZ  */

    /* Primary Color */
    --tc-primary-0: #007277;
    --tc-primary-1: #00cbd4;
    --tc-primary-2: #008d93;
    --tc-primary-3: #00595d;
    --tc-primary-4: #003c3e;

    /* Secondary Color 1 */
    --tc-secondary-1-0: #c58400;
    --tc-secondary-1-1: #ffab00;
    --tc-secondary-1-2: #f4a400;
    --tc-secondary-1-3: #9a6700;
    --tc-secondary-1-4: #674600;

    /* Secondary Color 2 */
    --tc-secondary-2-0: #C50500;
    --tc-secondary-2-1: #ff0700;
    --tc-secondary-2-2: #f40600;
    --tc-secondary-2-3: #9a0400;
    --tc-secondary-2-4: #670300;

    /* Main Complement Color */
    --tc-complement-0: #c55b00;
    --tc-complement-1: #ff7600;
    --tc-complement-2: #f47100;
    --tc-complement-3: #9a4700;
    --tc-complement-4: #673000;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    background: url(../escheresque_ste.png) repeat 0 0;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p, div, * {
    font-family: 'Merriweather', serif;
}

h1 {
    text-shadow: 1px 1px 1px #ccc;
}

h2 {
    text-decoration: underline;
}

.jumbotron h1 {
    color: var(--tc-primary-0);
    font-weight: 600;
    text-shadow: none;
}

.blockquote-footer {
    color: var(--tc-primary-2);
}

hr {
    background-color: white;
}

.bar-bg {
    background-color: var(--tc-primary-0);
}

a {
    color: var(--tc-primary-1);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

footer div a {
    color: white;
}

.navbar {
    margin-bottom: 40px;
}

.btn {
    white-space: normal;
    margin-bottom: 4px;
}

.btn i {
    font-size: 1.5em;
    margin-right: 4px;
}

.btn-success {
    background-color: var(--tc-primary-0);
    color: white;
    border-color: var(--tc-primary-2);
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: var(--tc-primary-2);
    color: white;
    border-color: var(--tc-primary-3);
}

.btn-info {
    background-color: var(--tc-complement-0);
    color: white;
    border-color: var(--tc-complement-2);
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: var(--tc-complement-2);
    color: white;
    border-color: var(--tc-complement-3);
}

ul {
    list-style: none;
}

ul li:not(.complete):before {
    margin-right: 5px;
    content: "•";
    font-size: 35px;
    vertical-align: middle;
    line-height: 16px;
    color: var(--tc-complement-1);
}

.complete:before {
    content: '✓';
    margin-right: 5px;
    color: var(--tc-complement-1);
    font-size: 1.25em;
    line-height: 16px;
}