<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>Tyrel Clayton</h1>
            <p>Tyrel Clayton is a full-stack software developer who prefers dogs over cats, wine over beer, and C over C++.</p>

            <h2>Education</h2>
            <p>Tyrel holds a Post-Baccalaureate certificate in Computer Science from Tufts University. Before earning that, he earned a Bachelor's Degree in English from the University of Florida.</p>
            <p>Aside from this education, Tyrel has completed an online Web Development Bootcamp.</p>

            <h2>Professional Experience</h2>
            <p>Currently, Tyrel works at the Fletcher School of Law and Diplomacy's Office of Career Services. While there, he has overhauled and streamlined both the career trip registration and summer internship funding processes, resulting in a 75% reduction in the amount of time spent on rote administrative work.</p>
        </div>
        <div class="col-md-3">
            <hr>
            <blockquote class="blockquote text-center">
                <p class="mb-0 small">Everything is hard, until you spend a lot of time doing it.</p>
                <footer class="blockquote-footer">Andrew Fiebert</footer>
            </blockquote>
            <hr>
            <a href="/about/impossible-list" class="btn btn-info btn-block">My Impossible List</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>