<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>Tyrel Clayton</h1>
            <p>Hello! I'm Tyrel! I write code in order to make computers do cool things. It's a good time. I love creating things for other people to enjoy, and if there happens to be an interesting challenge in the implementation, all the better.</p>

            <p>Based in Boston, I'm currently working in an admin role at Tufts University. However, that's just a stepping stone on my way to greatness. For my next role, I'll be doing either web development or systems engineering - ideally for your organization, dear reader.</p>

            <p>In my free time, I enjoy playing board games, Dungeons & Dragons, and ukulele. When not reading books about coding, I read sci fi, fantasy, and Stoic philosophy. I also enjoys learning about personal finance and going rock climbing. In a past life, I was an avid swing dancer, and I can still cut a rug if the situation calls for it.</p>

            <p>Want to know more? There's a deep dive <a href="/about/deep-dive">here</a>.</p>

            <a href="/projects" class="btn btn-info">Click here to see my projects</a>
        </div>
        <div class="col-md-3">
            <hr>
            <blockquote class="blockquote text-center">
                <p class="mb-0 small">Everything is hard, until you spend a lot of time doing it.</p>
                <footer class="blockquote-footer">Andrew Fiebert</footer>
            </blockquote>
            <hr>
            <a href="Clayton_Tyrel_Resume.pdf" class="btn btn-info btn-block" download>Download My Resume</a>
            <a href="/about/impossible-list" class="btn btn-info btn-block">My Impossible List</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>