<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>Tyrel Clayton</h1>

            <h2>Education</h2>
            <p>Tyrel holds a Post-Baccalaureate certificate in Computer Science from Tufts University. Before that, he earned a Bachelor's Degree in English from the University of Florida.</p>
            <p>Aside from this education, Tyrel has completed an online Web Development Bootcamp.</p>

            <h2>Professional Experience</h2>
            <p>Currently, Tyrel works at the Fletcher School of Law and Diplomacy's Office of Career Services. While there, he has used the principles of Computer Science to overhaul and streamline both the career trip registration and summer internship funding processes, resulting in a 75% reduction in the amount of time spent on rote administrative work.</p>

            <p>Tyrel's passion for coding knows no bounds. Often, when he finds a repetitive task, he will look for a way to automate it. For instance, rather than manually send the same email every week, Tyrel wrote a short Python script that sends the email for him - which he has since used to automate a number of other repetitive emails. As another example, the office had a need to save the HTML of about 70 pages on our website prior to deletion. Rather than save them all manually, he wrote a script that does it for him with the press of a button.</p>

            <p>While completing his Post-Baccalaureate certificate, Tyrel also held down a role as a teaching assistant for Tufts University's Data Structures course. In this role, he served as a mentor and tutor to new computer science students, teaching them the principles of software development and writing clean code.</p>

            <p>Prior to working at Fletcher, Tyrel held a number of roles, but the most relevant one was at the University of Florida's Bureau of Economic and Business Research. He was hired to assist the Bureau as they transitioned from a paid database platform to one they had built themselves. As part of that process, he led a team of 5 data collectors to accurately and efficiently move over 9,000 data series to the new platform.</p>

            <h2>Causes and Volunteerism</h2>
            <p>Tyrel supports a number of organizations financially, and once he finds a job in software engineering (the search is a second full time job), wants to volunteer with Big Brother, Big Sister of Boston. Additionally, his goal is to continue raising his charitable contributions to 10% of his annual income.</p>
            <p><a href="https://opportunity.ufl.edu/about/">Florida Opportunity Scholars</a> is a scholarship fund at the University of Florida, dedicated to helping first generation college students from low income backgrounds attend college. As a recipient of the scholarship, this particular cause is near and dear to Tyrel's heart.</p>
            <p><a href="https://girlswhocode.com/about-us/">Girls Who Code</a> is an organization whose mission is to close the gender gap in technology. Tyrel believes deeply that every person should have the same opportunities, and that no one should ever feel excluded based on their gender, race, or for any other reason.</p>
            <p><a href="https://www.plannedparenthood.org/about-us">Planned Parenthood</a> provides health care services to millions of people annually, and is an advocate for reproductive health education. Tyrel believes that knowledge is power, and is proud to support an organization that seeks to empower so many people.</p>
            <p>The <a href="https://www.aclu.org/about-aclu">American Civil Liberties Union</a> has a long history of protecting the rights of Americans against all comers from either side of the aisle. Tyrel is a firm believer that living a principled life is of paramount importance. The ACLU's steadfastness as they work to protect the rights of everyone, even those they disagree with and even when the decision is unpopular, has earned my respect and my support.</p>

            <h2>Interests and Hobbies</h2>
            <p>In his free time, Tyrel enjoys playing board games, Dungeons & Dragons, and ukulele. He also enjoys learning about personal finance and going rock climbing. In a past life, he was an avid swing dancer, and can still cut a rug if the situation calls for it.</p>
        </div>
        <div class="col-md-3">
            <hr>
            <blockquote class="blockquote text-center">
                <p class="mb-0 small">Everything is hard, until you spend a lot of time doing it.</p>
                <footer class="blockquote-footer">Andrew Fiebert</footer>
            </blockquote>
            <hr>
            <a href="Clayton_Tyrel_Resume.pdf" class="btn btn-info btn-block" download>Download My Resume</a>
            <a href="/about/impossible-list" class="btn btn-info btn-block">My Impossible List</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>