<% include ../partials/header %>

<div class="container">
    <h1>My Impossible List</h1>
    
    <div>
        <hr>
        <blockquote class="blockquote text-center">
            <p class="mb-0 small">A human being should be able to change a diaper, plan an invasion, butcher a hog, conn a ship, design a building, write a sonnet, balance accounts, build a wall, set a bone, comfort the dying, take orders, give orders, cooperate, act alone, solve equations, analyze a new problem, pitch manure, program a computer, cook a tasty meal, fight efficiently, die gallantly. Specialization is for insects.</p>
            <footer class="blockquote-footer">Robert Heinlein</footer>
        </blockquote>
        <hr>
    </div>

    <div>
        <p>What's an impossible list, you ask? It's a concept that I got from Thomas Frank, of <a href="https://collegeinfogeek.com">College Info Geek</a> fame. (Thomas's impossible list is <a href="https://collegeinfogeek.com/about/meet-the-author/my-impossible-list/">here</a>.)</p>

        <p>He, in turn, got the concept from Joel Runyon, who created the <a href="https://impossiblehq.com/impossible-list/">world's first impossible list</a> (to my knowledge, at least).</p>

        <p>Basically, an impossible list is a list of things that you want to do before you die. However, it's distinct from a bucket list in that an impossible list is iterative and measurable. To steal a quote from Thomas Frank, "Put simply, the impossible list is an ever-evolving list of experiences that build upon each other, help others as well as yourself, and implore you to take action."</p>
    </div>

    <div>
        <div>
            <h2>Current Focuses</h2>
            <ul>
                <li>Find a mentor in the software engineering field</li>
                <li>Build a website for a real company</li>
                <li>Do 100 consecutive pushups</li>
                <li>Pay off my credit card debt</li>
                <li>Read for 20 minutes per day for a month</li>
            </ul>
        </div>

        <div>
            <h2>Last 5 Completed Goals</h2>
            <ul>
            	<li class="complete">Get a job as a software developer (March, 2019)</li>
                <li class="complete">Create my own website with a real deal domain (December, 2018)</li>
                <li class="complete">Travel to Berlin (November, 2018)</li>
                <li class="complete">Earn a Post Bacc Certificate in Computer Science (August, 2018)</li>
                <li class="complete">Donate $2000 to charity (August, 2018)</li>
            </ul>
        </div>

        <div>
            <h2>Professional</h2>
            <ul>
                <li class="complete">Earn a Post Bacc Certificate in Computer Science (August, 2018)</li>
                <li class="complete">Get a job as a software developer (March, 2019)</li>
                <li>Find a mentor in the software engineering field</li>
                <li>Work at a startup</li>
                <li>Start a startup</li>
                <li>Get involved in the hiring process at the company I work for</li>
                <li>Become a mentor to someone</li>
            </ul>
        </div>

        <div>
            <h2>Software Development/Coding</h2>
            <ul>
                <li class="complete">Create my own website with a real deal domain (December, 2018)</li>
                <li>Build a website for a real company</li>
                <li>Develop a mobile phone game</li>
                <li>Develop a PC game and put it on Steam (or similar platform)</li>
            </ul>
        </div>

        <div>
            <h2>Events to Attend</h2>
            <ul>
                <li>Grace Hopper</li>
                <li>International Conference on Software Engineering</li>
                <li>Algorithms and Data Structures Symposium (WADS)</li>
                <li>Symposium on Foundations of Computer Science (FOCS)</li>
                <li>International Symposium on Fundamentals of Computation Theory</li>
                <li>International Colloquium on Automata, Languages and Programming</li>
            </ul>
        </div>

        <div>
            <h2>Financial</h2>
            <ul>
                <li class="complete">Give 2% of my annual income to charity
                    <ul>
                        <li>Give 4% of my annual income to charity</li>
                        <li>Give 6% of my annual income to charity</li>
                        <li>Give 8% of my annual income to charity</li>
                        <li>Give 10% of my annual income to charity</li>
                    </ul>
                </li> <!-- End of give to charity -->
                <li>Achieve a net worth of $0</li>
                <li>Pay off my credit card debt</li>
                <li>Pay off my student loans</li>
                <li>Build up an emergency fund of $25,000</li>
                <li>Have the means to retire at age 35</li>
                <li>Make $150,000 (gross) in one calendar year</li>
            </ul>
        </div>

        <div>
            <h2>Fitness/Health</h2>
            <ul>
                <li>Run a 5K without resting or walking</li>
                <li>Climb a V5 bouldering problem</li>
                <li>Do 100 consecutive pushups</li>
                <li>Do 100 consecutive sit ups</li>
            </ul>
        </div>

        <div>
            <h2>Habit</h2>
            <ul>
                <li>Read for 20 minutes per day for a month</li>
            </ul>
        </div>

        <div>
            <h2>Skills</h2>
            <ul>
                <li class="complete">Figure out how to solve a Rubik's Cube</li>
                <li class="complete">Learn to juggle 3 balls
                    <ul>
                        <li>Learn to juggle 4 balls</li>
                    </ul>
                </li> <!-- End of juggling -->
                <li>Bake a loaf of sourdough bread</li>
                <li>Become fluent in German</li>
                <li>Become fluent in Spanish</li>
            </ul>
        </div>

        <div>
            <h2>Music</h2>
            <ul>
                <li class="complete">Learn to play ukulele (December 2017)
                    <ul>
                        <li class="complete">Play ukulele in Somerville Porchfest (May 2018)</li>
                    </ul>
                </li> <!-- End of ukulele -->
                <li>Learn to play jazz/swing guitar
                    <ul>
                        <li>Learn to play "Minor Swing" in the style of Django Reinhardt</li>
                    </ul>
                </li> <!-- End of jazz guitar -->
            </ul>
        </div>

        <div>
            <h2>Fun and/or "Insane" Goals</h2>
            <ul>
                <li>Jump out of a plane</li>
                <li>Be a guest on the Listen Money Matters podcast</li>
                <li>Learn to do fire breathing</li>
            </ul>
        </div>

        <div>
            <h2>Creative</h2>
            <ul>
                <li>DM a year long D&D campaign</li>
                <li>Create my own board game</li>
                <li>Write a novel</li>
                <li>Start a podcast</li>
            </ul>
        </div>

        <div>
            <h2>Video Game (Playing)</h2>
            <ul>
                <li>Reach level 72 with one character in Borderlands 2</li>
                <li>Play through all the Lara Croft/Tomb Raider games</li>
            </ul>
        </div>

        <div>
            <h2>Travel</h2>
            <ul>
                <li class="complete">Berlin (November, 2018)</li>
                <li class="complete">New York City (May, 2018)</li>
                <li>London</li>
                <li>New Orleans</li>
                <li>A real deal castle</li>
                <li>Australia</li>
                <li>Venice</li>
                <li>Rome</li>
            </ul>
        </div>

        <div>
            <h2>Life Goals</h2>
            <ul>
                <li>Maintain and nurture a supportive, loving, and passionate relationship with my wonderful partner Madeleine</li>
                <li class="complete">Donate $1,000 to charity (October, 2017)
                    <ul>
                        <li class="complete">Donate $2,000 to charity (August, 2018)</li>
                        <li>Donate $5,000 to charity</li>
                        <li>Donate $25,000 to charity</li>
                        <li>Donate $100,000 to charity</li>
                    </ul>
                </li> <!-- End of Donate to charity -->
                <li>Build a house for my parents</li>
                <li>Set up a scholarship fund at the University of Florida</li>
                <li>Live outside the US</li>
                <li>Volunteer with Big Brother, Big Sister</li>
            </ul>
        </div>

        <div>
            <h2>Reading</h2>
            <p>This one is quite long term, but you can follow my progress on <a href="https://www.goodreads.com/user/show/69374295-tyrel-clayton">Goodreads</a> if you like!</p>
            <ul>
                <li class="complete">Read 100 books</li>
                <li>Read 200 books</li>
                <li>Read 500 books</li>
                <li>Read 1000 books</li>
            </ul>
        </div>
    </div>
</div>

<% include ../partials/footer %>