<% include ../partials/header %>

<div class="container">
    <div class="col-md-12 mb-4">
        <hr>
        <blockquote class="blockquote text-center">
            <p class="mb-0 small">It is very important to embrace failure and to do a lot of stuff. As much stuff as possible - with as little fear as possible. It's much, much better to wind up with a lot of crap having tried it than to overthink in the beginning and not do it.</p>
            <footer class="blockquote-footer">Stefan Sagmeister</footer>
        </blockquote>
        <hr>
    </div>
    <div class="row text-center">
        <% projects.forEach(function(project) { %>
            <div class="col-md-4 col-sm-6">
                <div>
                    <h4><%= project.name %></h4>
                </div>
                <div>
                    <p><%= project.blurb %></p>
                </div>
                <p>
                    <a href="/projects/<%= project._id %>" class="btn btn-block btn-info"><i class="fas fa-binoculars float-left"></i>More Info</a>
                    <% if (project.url) { %>
                        <a href="<%= project.url %>" class="btn btn-block btn-success"><i class="far fa-eye float-left"></i>See the project!</a>
                    <% } %>
                </p>
            </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>